<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leaveinfo.persistence.geo.DistrictCapitalMapper" >
  <resultMap id="BaseResultMap" type="com.leaveinfo.domain.geo.DistrictCapital" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="district_id" property="districtId" jdbcType="INTEGER" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="capital_type" property="capitalType" jdbcType="INTEGER" />
    <result column="capital_from_date" property="capitalFromDate" jdbcType="DATE" />
    <result column="capital_to_date" property="capitalToDate" jdbcType="DATE" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="active" property="active" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, district_id, city_id, capital_type, capital_from_date, capital_to_date, description, 
    create_date, update_date, deleted, active
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from district_capital
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from district_capital
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.leaveinfo.domain.geo.DistrictCapital" >
    insert into district_capital (id, district_id, city_id, 
      capital_type, capital_from_date, capital_to_date, 
      description, create_date, update_date, 
      deleted, active)
    values (#{id,jdbcType=INTEGER}, #{districtId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, 
      #{capitalType,jdbcType=INTEGER}, #{capitalFromDate,jdbcType=DATE}, #{capitalToDate,jdbcType=DATE}, 
      #{description,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{deleted,jdbcType=BIT}, #{active,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.leaveinfo.domain.geo.DistrictCapital" >
    insert into district_capital
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="districtId != null" >
        district_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="capitalType != null" >
        capital_type,
      </if>
      <if test="capitalFromDate != null" >
        capital_from_date,
      </if>
      <if test="capitalToDate != null" >
        capital_to_date,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="active != null" >
        active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="districtId != null" >
        #{districtId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="capitalType != null" >
        #{capitalType,jdbcType=INTEGER},
      </if>
      <if test="capitalFromDate != null" >
        #{capitalFromDate,jdbcType=DATE},
      </if>
      <if test="capitalToDate != null" >
        #{capitalToDate,jdbcType=DATE},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
      <if test="active != null" >
        #{active,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.leaveinfo.domain.geo.DistrictCapital" >
    update district_capital
    <set >
      <if test="districtId != null" >
        district_id = #{districtId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="capitalType != null" >
        capital_type = #{capitalType,jdbcType=INTEGER},
      </if>
      <if test="capitalFromDate != null" >
        capital_from_date = #{capitalFromDate,jdbcType=DATE},
      </if>
      <if test="capitalToDate != null" >
        capital_to_date = #{capitalToDate,jdbcType=DATE},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="active != null" >
        active = #{active,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.leaveinfo.domain.geo.DistrictCapital" >
    update district_capital
    set district_id = #{districtId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      capital_type = #{capitalType,jdbcType=INTEGER},
      capital_from_date = #{capitalFromDate,jdbcType=DATE},
      capital_to_date = #{capitalToDate,jdbcType=DATE},
      description = #{description,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT},
      active = #{active,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>